body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.outer-container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    margin: 10px;
}

body.dark-mode {
    --header-bg: black;
    --header-text: white;
    --bg-color: #333;
    --text-color: white;
    --input-bg: #555;
    --input-text: white;
    --button-bg: #555;
    --button-text: white;
    --footer-bg: black;
    --footer-text: white;
}

:root {
    --header-bg: white;
    --header-text: black;
    --bg-color: white;
    --text-color: black;
    --input-bg: white;
    --input-text: black;
    --button-bg: #222222;
    --button-text: white;
    --footer-bg: #white;
    --footer-text: black;
}